In [26]:
#En este archivo se transporta la data limpia al servidor compartido de clase de MySQL

In [27]:
import pandas as pd
import os
import pymysql
from sqlalchemy import create_engine

In [28]:
import os, sys
ruta = os.path.dirname(os.getcwd())
sys.path.append(ruta)
sys.path

['c:\\Users\\Adrià\\Desktop\\Thebridge\\adria_gallardo_thebridge_ds\\Proyectos\\EDA\\notebooks',
 'c:\\Users\\Adrià\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.832593372\\pythonFiles',
 'c:\\Users\\Adrià\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.832593372\\pythonFiles',
 'c:\\Users\\Adrià\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.832593372\\pythonFiles\\lib\\python',
 'C:\\Users\\Adrià\\AppData\\Local\\Programs\\Python\\Python37\\python37.zip',
 'C:\\Users\\Adrià\\AppData\\Local\\Programs\\Python\\Python37\\DLLs',
 'C:\\Users\\Adrià\\AppData\\Local\\Programs\\Python\\Python37\\lib',
 'C:\\Users\\Adrià\\AppData\\Local\\Programs\\Python\\Python37',
 '',
 'C:\\Users\\Adrià\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\Adrià\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32',
 'C:\\Users\\Adrià\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32\\lib',
 'C:\\Users\\Adrià\\AppData\\Roaming\\Python\\Python37\\site-packages\\Pythonwin',
 'C:\\Users\\Adrià\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages',
 'C:\\Users\\Adrià\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\Adrià\\.ipython',
 'c:\\Users\\Adrià\\Desktop\\Thebridge\\adria_gallardo_thebridge_ds\\Proyectos\\EDA',
 'c:\\Users\\Adrià\\Desktop\\Thebridge\\adria_gallardo_thebridge_ds\\Proyectos\\EDA',
 'c:\\Users\\Adrià\\Desktop\\Thebridge\\adria_gallardo_thebridge_ds\\Proyectos\\EDA']

In [29]:
import src.utils.folders_tb as fol
from src.utils.mysql_tb import MySQL

In [30]:
#Primero se necesita el acceso al dataframe.
data = fol.read_my_csv(".." + os.sep + "reports" + os.sep + "from_main" + os.sep + "cleaned_data.csv")
data

,Unnamed: 0,sex,age,address,famsize,Pstatus,Medu,Fedu,reason,guardian,...,nursery,higher,internet,romantic,famrel,freetime,goout,absences,alcohol,grade
0,0,F,18,U,GT3,A,4,4,course,mother,...,yes,yes,no,no,4,3,4,6,2,17
1,1,F,17,U,GT3,T,1,1,course,father,...,no,yes,yes,no,5,3,3,4,2,16
2,2,F,15,U,LE3,T,1,1,other,mother,...,yes,yes,yes,no,4,3,2,10,5,25
3,3,F,15,U,GT3,T,4,2,home,mother,...,yes,yes,yes,yes,3,2,2,2,2,44
4,4,F,16,U,GT3,T,3,3,home,father,...,yes,yes,no,no,4,3,2,4,3,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,1010,F,19,R,GT3,T,2,3,course,mother,...,no,yes,yes,no,5,4,2,4,3,31
1011,1011,F,18,U,LE3,T,3,1,course,mother,...,yes,yes,yes,no,4,3,4,4,2,46
1012,1012,F,18,U,GT3,T,1,1,course,mother,...,yes,yes,no,no,1,1,1,6,2,32
1013,1013,M,17,U,LE3,T,3,1,course,mother,...,no,yes,yes,no,2,4,5,6,7,30
1014,1014,M,18,R,LE3,T,3,2,course,mother,...,no,yes,yes,no,4,4,1,4,7,32

In [31]:
#Se quita la columna Unnamed: 0 ya que es un duplicado del índice.
data = data.drop(columns="Unnamed: 0")
data

,sex,age,address,famsize,Pstatus,Medu,Fedu,reason,guardian,traveltime,...,nursery,higher,internet,romantic,famrel,freetime,goout,absences,alcohol,grade
0,F,18,U,GT3,A,4,4,course,mother,2,...,yes,yes,no,no,4,3,4,6,2,17
1,F,17,U,GT3,T,1,1,course,father,1,...,no,yes,yes,no,5,3,3,4,2,16
2,F,15,U,LE3,T,1,1,other,mother,1,...,yes,yes,yes,no,4,3,2,10,5,25
3,F,15,U,GT3,T,4,2,home,mother,1,...,yes,yes,yes,yes,3,2,2,2,2,44
4,F,16,U,GT3,T,3,3,home,father,1,...,yes,yes,no,no,4,3,2,4,3,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,F,19,R,GT3,T,2,3,course,mother,1,...,no,yes,yes,no,5,4,2,4,3,31
1011,F,18,U,LE3,T,3,1,course,mother,1,...,yes,yes,yes,no,4,3,4,4,2,46
1012,F,18,U,GT3,T,1,1,course,mother,2,...,yes,yes,no,no,1,1,1,6,2,32
1013,M,17,U,LE3,T,3,1,course,mother,2,...,no,yes,yes,no,2,4,5,6,7,30
1014,M,18,R,LE3,T,3,2,course,mother,3,...,no,yes,yes,no,4,4,1,4,7,32

In [32]:
#Por consiguiente, se establece la conexión con el servidor, que vendrá apoyada con la funcionalidad del módulo mysql_tb en la que se encuentra la clase MYSQL.
mysql_db = MySQL(IP_DNS="54.87.229.244", USER="21755015m", PASSWORD="adriagallardo96", BD_NAME="21755015m_ds_april_2021_db", PORT=25001)
db = mysql_db.connect()
db_connection_str = mysql_db.SQL_ALCHEMY
db_connection = create_engine(db_connection_str)

Connected to MySQL server [21755015m_ds_april_2021_db]

In [33]:
#Finalmente, se sube el DataFrame al servidor.
data.to_sql(name="21755015m_ds_april_2021_db_tb", con=db_connection, if_exists="replace", index=False)

In [34]:
#Se comprueba que se haya subido correctamente con una lectura del DataFrame

pd.read_sql_table("21755015m_ds_april_2021_db_tb", db_connection)

,sex,age,address,famsize,Pstatus,Medu,Fedu,reason,guardian,traveltime,...,nursery,higher,internet,romantic,famrel,freetime,goout,absences,alcohol,grade
0,F,18,U,GT3,A,4,4,course,mother,2,...,yes,yes,no,no,4,3,4,6,2,17
1,F,17,U,GT3,T,1,1,course,father,1,...,no,yes,yes,no,5,3,3,4,2,16
2,F,15,U,LE3,T,1,1,other,mother,1,...,yes,yes,yes,no,4,3,2,10,5,25
3,F,15,U,GT3,T,4,2,home,mother,1,...,yes,yes,yes,yes,3,2,2,2,2,44
4,F,16,U,GT3,T,3,3,home,father,1,...,yes,yes,no,no,4,3,2,4,3,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,F,19,R,GT3,T,2,3,course,mother,1,...,no,yes,yes,no,5,4,2,4,3,31
1011,F,18,U,LE3,T,3,1,course,mother,1,...,yes,yes,yes,no,4,3,4,4,2,46
1012,F,18,U,GT3,T,1,1,course,mother,2,...,yes,yes,no,no,1,1,1,6,2,32
1013,M,17,U,LE3,T,3,1,course,mother,2,...,no,yes,yes,no,2,4,5,6,7,30
1014,M,18,R,LE3,T,3,2,course,mother,3,...,no,yes,yes,no,4,4,1,4,7,32